body {
    background-color: aliceblue;
}

header {
    position: center;
    left: 0;
    top: 20px;
    width: 100%;
    background-color: green;
    color: yellow;
    text-align: left;
    padding: 20px;
}

headerInstructor {
	position: center;
    	left: 0;
    	top: 20px;
    	width: 100%;
    	background-color: green;
    	color: yellow;
    	text-align: left;
    	padding: 20px;
}

.input {
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 15px;
    width: 100%;
    background-color: green;
    color: yellow;
    text-align: center;
    padding: 15px;
} 
